/* src/App.css */

.App {
  text-align: center;
  background-color: white; /* Cor de fundo branco */
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
  background-color: #e0f7fa; /* Cor de fundo ciano */
  padding: 10px; /* Espaçamento interno */
}

.nav-link {
  margin-left: 20px; /* Espaçamento entre os links */
  border: none; /* Remove bordas padrão */
  background: none; /* Remove fundo padrão */
  color: #00796b; /* Cor do texto */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.header {
  padding: 20px; /* Espaçamento interno */
}

.card {
  background-color: #e0f7fa; /* Cor de fundo ciano */
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Cantos arredondados */
}

.button {
  margin-top: 10px; /* Espaçamento acima do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: #00796b; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove borda do botão */
  border-radius: 5px; /* Cantos arredondados do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}
